# Terraform
**/.terraform/*
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Infracost
**/plan.*

# Python
**__pycache__**

# Serverless
**/.serverless/**
*.zip

# MacOS
**.DS_Store**

# VueJS
web/node_modules
web/dist
web/src/.env

