service: MyOnlineBookStore
frameworkVersion: '2'

provider:
  name: aws
  runtime: python3.8
  stage: dev
  region: eu-central-1
  memorySize: 128 # optional, in MB, default is 1024
  logs:
    httpApi: true
  iamRoleStatements:
  - Effect: Allow
    Action:
      - dynamodb:DescribeTable
      - dynamodb:Query
      - dynamodb:Scan
      - dynamodb:GetItem
      - dynamodb:PutItem
      - dynamodb:UpdateItem
      - dynamodb:DeleteItem
    Resource: 'arn:aws:dynamodb:eu-central-1:*:*'

package:
  individually: true
  exclude:
    - '**'
  include:
    - order/handler.py
    - book/display/handler.py
    - book/add/handler.py

functions:
  order:
    handler: order/handler.order
    layers:
      - { Ref: AwsXraySdkLambdaLayer }
    description: Validate credit score and put order in database.
    reservedConcurrency: 5
    timeout: 2
    tracing: true
    events:
      - sqs: arn:aws:sqs:eu-central-1:438231055637:order.fifo
      - sqs: arn:aws:sqs:eu-central-1:438231055637:order-dlq.fifo
    tags:
      App: MyOnlineBookStore
      Environment: dev
      Runtime: python3.8

  add_book:
    handler: book/add/handler.add_book
    layers:
      - { Ref: AwsXraySdkLambdaLayer }
    description: Add book in database
    timeout: 2
    tracing: true
    events:
      - sqs: arn:aws:sqs:eu-central-1:438231055637:book
    tags:
      App: MyOnlineBookStore
      Environment: dev
      Runtime: python3.8

  display_book:
    handler: book/display/handler.display_book
    layers:
      - { Ref: AwsXraySdkLambdaLayer }
    description: Display books available in database
    timeout: 2
    tracing: true
    events:
      - httpApi:
          method: GET
          path: /book/display
    tags:
      App: MyOnlineBookStore
      Environment: dev
      Runtime: python3.8

layers:
  awsXraySdk:
    package:
      artifact: ../layers/aws-xray-sdk.zip
    name: aws-xray-sdk # optional, Deployed Lambda layer name
    description: SDK to send segments to AWS xray.
    compatibleRuntimes: # optional, a list of runtimes this layer is compatible with
      - python3.8
    licenseInfo: GPLv3
    retain: false # optional, false by default. If true, layer versions are not deleted as new ones are created
